@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    @apply hidden;
}

    #form .is-invalid {
        @apply shadow-red-500 shadow border-none;
    }

.checkmark {
    background-image: url(/public/assets/img/done-icon.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: top 0 left 0;
    padding-left: 2.5rem;
}
:root {
    --my-background-dark-theme: hsl(207.91, 62.32%, 13.53%);
    --my-text-dark-theme: hsl(211.43, 25.3%, 83.73%);

    --my-background-white-theme: hsl(207.91, 62.32%, 13.53%);
    --my-text-white-theme: hsl(216.92, 19.12%, 26.67%);
}
